<!DOCTYPE html>
<html>

    <head>
        <title>Symphony</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>

    <body>
        <div class="title-heading">
            <a href="/"> <h1>Symphony</h1> </a>
            <h3>All your events, in one place.</h3>
            <br>
        </div>
        <div class="navbar">
            <input type="button" onclick="window.location.href = './new';" value="&#x266b; New"/>
        </div>
        
        <div class='event-box-container'>
        <!-- formatting script -->
            <% for(var i = 0; i < data.length; i++) { %>
                <a href='#' class='event-block'>
                   <h6 class='author'>posted by <%= data[i].author %></h6>
                   <h6 class='timestamp'><%= data[i].created_at %></h6>
                   <h4><%= data[i].title %></h4>
                   <h5> <%= data[i].date %> <span class='location-tag'>@ <%= data[i].location %>, <%= data[i].time %> </span></h5>
                   <p class='description'> <%= data[i].description %> </p>
                </a>
                <hr>
            <% } %>
        </div>
        <%# Uncomment code below for SAL %>
       <%# <img src="data:image/jpeg;base64, +IMAGE> #%> 
    </body>      
</html>